<% content_for :content do %>
  <section>
    <div class="container">
      <h1>Listing Entities - <%= link_to 'New Entity', new_entity_path, class: 'btn btn-primary btn-xs'%></h1>
      <%= generate_table(
        striped: true,
        data_table: true,
        header: [
          'Type', 'Value', 'Chunk', '', '', ''
          ],
        content: @entities.map do |entity|
          [
            entity.type,
            entity.value,
            entity.chunk,
            link_to('Show', entity_path(entity)),
            link_to('Edit', edit_entity_path(entity)),
            link_to('Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' })
          ]
        end) %>
    </div>
  </section>
<% end %>