<% content_for :content do %>
  <section class="welcome">
  </section>
  <section class="info">
    <div class="container">
      <h2 class="text-center">Nabatheon</h2>
      <div class="row">
        <div class="col-md-6 md-padded">
          <div class="icon-box">
            <i class="fa fa-lightbulb-o blue icon"></i>
            <p class="info-text">
              This module can:
              <ul>
                <li>Recieve a chunk of text (max ~150 words)</li>
                <li>Extract keywords</li>
                <li>Wikipedia lookup</li>
                <li>Return JSON with extacted data</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-6 md-padded">
          <div class="icon-box">
            <i class="fa fa-star red icon"></i>
            <p class="info-text">
              Built for Google Hackathon 2015-05-09.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
