<% content_for :content do %>
  <section>
    <div class="container">
      <h1>Listing Chunks - <%= link_to 'New Chunk', new_chunk_path, class: 'btn btn-primary btn-xs'%></h1>
      <%= generate_table(
        striped: true,
        data_table: true,
        header: [
          'Content', '', '', ''
          ],
        content: @chunks.map do |chunk|
          [
            chunk.content,
            link_to('Show', chunk_path(chunk)),
            link_to('Edit', edit_chunk_path(chunk)),
            link_to('Destroy', chunk, method: :delete, data: { confirm: 'Are you sure?' })
          ]
        end) %>
    </div>
  </section>
<% end %>